# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data
Diwali Sales Data.csv

# IDE-specific files
.vscode/
.idea/

# Operating System files
.DS_Store
thumbs.db